
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  
  
}
@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body {
  position: relative;
  font-family: 'Sora', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: $primary-normal;
  color: $white-light;
}
button {
  cursor: pointer;
  font-size: 'Sora', sans-serif;
}
svg{
  width: 100%;
}
img {
  width: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
}